[Unit]
Description = {{COMPONENT}} app Service

[Service]
User={{USER}}
ExecStart=/bin/java -Xms2900m -Xmx3300m -jar /home/{{USER}}/{{COMPONENT}}/{{COMPONENT}}-1.0-SNAPSHOT.jar
SyslogIdentifier={{COMPONENT}}
# WorkingDirectory=/home/{{USER}}/{{COMPONENT}}/
Environment="URL={{URL}}"
# StandardOutput=syslog
# StandardError=syslog

[Install]
WantedBy=multi-user.target