[Unit]
Description = {{COMPONENT}} Service

[Service]
User={{USER}}
ExecStart=/bin/java -Xms2900m -Xmx3300m -jar /home/{{USER}}/{{COMPONENT}}/{{COMPONENT}}.jar
SyslogIdentifier={{COMPONENT}}
# WorkingDirectory=/home/{{USER}}/{{COMPONENT}}/
Environment="MONGO_ENDPOINT=mongodb+srv://{{DB_USER}}:{{DB_PASS}}@{{DB_URL}}/login-app-db?retryWrites=true&w=majority"
# StandardOutput=syslog
# StandardError=syslog

[Install]
WantedBy=multi-user.target